PORT=3000

# Mail.ru SMTP Configuration
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=smptxxxpocta@mail.ru
SMTP_PASS=uwshky0GrHWv0xu1VjWJ

# Email settings
EMAIL_FROM=smptxxxpocta@mail.ru
EMAIL_TO=smptxxxpocta@mail.ru

